html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    margin: 0px;
}

#hero_background {
    background-origin: border-box;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../recurse/jpg/fondo_pollo.jpg);
}

.logo_principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_principal a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

.logo_principal a:hover {
    color: rgb(125, 125, 125);
}

.nav_principal ul {
    padding-left: 0px;
    display: flex;
    list-style: none;
}

.nav_principal ul li a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.nav_principal ul li a:hover {
    color: rgb(125, 125, 125);
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 25%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.scroll a:hover {
    color: rgb(125, 125, 125);
}

.scroll h1 {
    text-align: center;
}

#hero {
    font-size: 25px;
    color: white;
    margin: 0px;
    padding: 150px 10px 150px 10px;

}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 80px 70px 80px;
    color: white;
    margin: 0px;
    text-align: center;
}



@media (max-width:526px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .nav_principal ul li a {
        margin: 8px;
    }
}

@media (max-width:778px) {

    .news {
        flex-direction: column;
    }
}