html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

#hero_background {
    background-origin: border-box;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../recurse/jpg/fondo_menu.jpg);
}

.logo_principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_principal a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

.logo_principal a:hover {
    color: rgb(125, 125, 125);
}

.nav_principal ul {
    padding-left: 0px;
    display: flex;
    list-style: none;
}

.nav_principal ul li a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.nav_principal ul li a:hover {
    color: rgb(125, 125, 125);
}

/* EMPIEZA HERO */

#hero {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: white;
    padding: 50px 50px 75px 50px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.menu_box {
    display: flex;
    justify-content: space-between;
}

.menu h1 {
    text-align: center;
}

.pedido_padre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedido {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.fa-brands {
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 15px 40px;
    border-radius: 25%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.fa-brands:hover {
    color: rgb(125, 125, 125);
}

@media (max-width:526px) {
    .menu_box {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .nav_principal ul li a {
        margin: 8px;
    }

    .menu h1 {
        margin-top: 80px;
    }
}